@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

:root {
    /* Text - Fonts */
    --aw-font-family-primary: "Shantell Sans", serif;
    --aw-font-family-secondary: "Tiny5", sans-serif;
    --aw-color-text-primary: #f0f8ff;
    --aw-text-size: 14px;

    /* Container */
    --aw-container-bg: #232323;
    --aw-container-border: 2px solid rgba(0, 0, 0, 0.4);

    /* Inputs */
    --aw-input-bg: #1f1f1f;
    --aw-input-border: 1px solid #262626;
    --aw-input-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

    /* Buttons */
    --aw-button-gradient: radial-gradient(circle at top left, purple 10%, violet 90%);
    --aw-button-execute-hover: radial-gradient(circle at top left, purple 10%, #93ac47 90%);
    --aw-button-hide-hover: radial-gradient(circle at top left, purple 10%, #fc3468 90%);
}


/* General Styles */

hr {
    border-color: grey;
    background-color: grey;
    opacity: 0.25;
}

.instruction {
    font-size: 18px;
    color: grey;
    user-select: none;
    cursor: default;
}


/* Special fixes for IpyWidgets */
/* Fix Vertical Centering */
.widget-hbox,
.jupyter-widgets label {
    display: flex;
    align-items: center;
}


/* Text FONTs */

.instruction,
.custom_select_multiple select,
.output_message,
.storage_info,
.cleaner_button {
    font-family: var(--aw-font-family-primary);
    font-optical-sizing: auto;
}


/* Container style */

.cleaner_container {
    position: relative;
    padding: 10px 15px;
    margin: 5px 0 0 5px;
    background-color: var(--aw-container-bg);
    border: var(--aw-container-border);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35), inset 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.cleaner_container::before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: "AutoCleaner";
    font-family: var(--aw-font-family-secondary);
    font-optical-sizing: auto;
    font-weight: 750;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
}
.cleaner_container::after {
    position: absolute;
    top: 30px;
    right: 10px;
    content: "ANXETY";
    font-family: var(--aw-font-family-secondary);
    font-optical-sizing: auto;
    font-weight: 750;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
}


/* Input-Output field styles */

.custom_select_multiple select {
    padding: 10px;
    border: var(--aw-input-border) !important;
    border-radius: 10px;
    color: var(--aw-color-text-primary);
    background-color: var(--aw-input-bg);
    box-shadow: var(--aw-input-shadow);
}

.output_panel {
    padding: 10px;
    border: var(--aw-input-border);
    border-radius: 10px;
    background-color: var(--aw-input-bg);
    box-shadow: var(--aw-input-shadow);
}
.output_message {
    color: var(--aw-color-text-primary);
    font-size: var(--aw-text-size);
    user-select: none;
    cursor: default;
}

.storage_info {
    padding: 5px 20px;
    border: var(--aw-input-border);
    border-radius: 10px;
    background-color: var(--aw-input-bg);
    box-shadow: var(--aw-input-shadow);
    font-size: var(--aw-text-size);
    user-select: none;
    cursor: default;
}

/* Layout for selection and output areas */
.selection_output_layout {
    display: flex;
    justify-content: space-between; 
    gap: 5px;
    align-items: stretch;
}

.custom_select_multiple,
.output_panel {
    flex: 1;
    box-sizing: border-box;
    margin: 0;
}


/* Button and storage info layout */
.lower_information_panel {
    justify-content: space-between;
}


/* Button style */

.cleaner_button {
    width: auto;
    color: var(--aw-color-text-primary);
    font-size: var(--aw-text-size);
    height: 35px;
    border-radius: 15px;
    background-image: var(--aw-button-gradient);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease, transform 0.3s ease;
}
.cleaner_button:hover {
    cursor: pointer;
    background-size: 200% 200%;
    background-position: right bottom;
    transform: translateY(1px);
}

.button_execute:hover {
    background-image: var(--aw-button-execute-hover);
}
.button_hide:hover {
    background-image: var(--aw-button-hide-hover);
}

/* Removes ugly stroke from widget buttons. */
.cleaner_button:active {
    filter: brightness(0.75) !important;
}
.jupyter-widgets.lm-Widget:focus {
    outline: none;
}


/* Animation of elements */

.cleaner_container {
    animation: slideInTopBlur 0.7s forwards;
}
.animated_message {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInTopBlur {
    0% {
        transform: translate3d(0, 50%, 0) scale(0.85) rotate3d(1, 0, 0, -85deg);
        filter: blur(5px) grayscale(1) brightness(0.5);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1) rotate3d(1, 0, 0, 0deg);
        filter: blur(0) grayscale(0) brightness(1);
        opacity: 1;
    }
}

/* Leaving animation */
.cleaner_container.hide {
    animation: slideOutTopBlur 0.3s forwards;
}

@keyframes slideOutTopBlur {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        filter: blur(0) grayscale(0) brightness(1);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, -100%, 0);
        filter: blur(5px) grayscale(1) brightness(0);
        opacity: 0;
    }
}