@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

:root {
    /* Accent Color */
    --aw-accent-color: #ac8fa5;

    /* Text / Fonts */
    --aw-font-family-primary: "Shantell Sans", serif;
    --aw-font-family-secondary: "Tiny5", sans-serif;
    --aw-color-text-primary: #f0f8ff;
    --aw-text-size: 14px;

    /* Container */
    --aw-container-bg: #232323;
    --aw-container-border: 2px solid rgba(0, 0, 0, 0.4);
    --aw-output-container-bg: #1f1f1f;
    --aw-output-section-bg: #181818;
    --aw-output-section-border: 2px solid rgba(0, 0, 0, 0.35);
}


/* Text FONTs */

.widget-html,
.header-main-title,
.header-output-title {
    font-family: var(--aw-font-family-primary);
    font-optical-sizing: auto;
}


/* Element text style */

.widget-html {
    font-size: var(--aw-text-size);
    color: var(--aw-color-text-primary) !important;
    user-select: none;
}


/* General Styles */

.header-main-title,
.header-output-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.header-main-title {
    color: var(--aw-accent-color);
    text-align: center;
    margin-bottom: 15px;
}
.header-output-title {
    color: #0083c0;
}

.divider-line {
    border-color: grey;
    background-color: grey;
    opacity: 0.25;
    width: 1000px;
}


/* Container style */

.result-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
    height: auto;
    margin: 40px 10px 10px 10px;
    padding: 10px 15px;
    background-color: var(--aw-container-bg);
    border: var(--aw-container-border);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35), inset 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.result-container::after {
    position: absolute;
    top: 8px;
    right: 10px;
    content: "ANXETY";
    font-family: var(--aw-font-family-secondary);
    font-optical-sizing: auto;
    font-weight: 750;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.result-output-container {
    flex-wrap: wrap;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--aw-output-container-bg);
    border-radius: 8px;
    width: 95%;
    padding: 10px 15px;
    overflow: visible;
}
.output-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--aw-output-section-bg);
    padding: 10px 15px;
    border-radius: 16px;
    border: var(--aw-output-section-border);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 8px;
    transition: all 0.15s;
}

/* good use of space */
.output-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}


/* Animation of elements */

.result-container,
.output-section {
    animation: showedResult 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.output-item {
    animation: showedText 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes showedResult {
    0% {
        transform: translate3d(0, 15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes showedText {
    0% {
        transform: translate3d(-30%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}