/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

.header {
    display: inline-block;
    font-size: 20px;
    font-weight: 650;
    color: #FF97EF;
    margin-bottom: 10px;
    user-select: none;
    cursor: default;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

hr {
    border-color: grey;
    background-color: grey;
    opacity: 0.25;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Text FONTs */

.info,
.popup,
.button,
.header,
.widget-button,
.widget-text label,
.widget-checkbox label,
.widget-dropdown label,
.widget-dropdown select,
.widget-text input[type="text"] {
    font-family: "Shantell Sans", serif;
    font-optical-sizing: auto;
}


/* Container style */

.container {
    position: relative;
    padding: 10px 15px;
    margin: 5px 0 0 5px;
    background-color: #232323;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35), inset 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.container::after {
    position: absolute;
    top: 5px;
    right: 10px;
    content: "ANXETY";
    font-family: "Tiny5", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.container_cdl {
    height: 55px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.container_cdl.expanded {
    height: 270px;
}


/* Element text style */

.widget-button,
.widget-text label,
.widget-checkbox label,
.widget-dropdown label,
.widget-dropdown select,
.widget-text input[type="text"] {
    font-style: normal;
    font-size: 14px;
    color: white;
    user-select: none;
}
.widget-text input[type="text"]::placeholder {
    color: grey;
}


/* Input field styles */

.widget-dropdown select,
.widget-text input[type="text"] {
    height: 30px;
    background-color: #1c1c1c;
    border: 1px solid #262626;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.widget-dropdown select:focus,
.widget-text input[type="text"]:focus {
    border-color: #006ee5;
}

.widget-dropdown select:hover,
.widget-text input[type="text"]:hover {
    transform: scale(1.003);
    background-color: #262626;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.widget-dropdown option {
    background-color: #1c1c1c;
}


/* Slider Checkbox style */

.widget-checkbox input[type="checkbox"] {
    appearance: none;
    position: relative;
    top: 4px; /* Why is he taller?! */
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #20b2aa;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.widget-checkbox input[type="checkbox"]:checked {
    background-color: #2196F3;
}
.inpaint input[type="checkbox"]:checked {
    background-color: #BBCA53;  
}
.sdxl input[type="checkbox"]:checked {
    background-color: #EA861A;  
}

.widget-checkbox input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: inherit;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    transition: left 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.widget-checkbox input[type="checkbox"]:checked:before {
    left: 21px;
}


/* Popup style of `INFO` window */

.info {
    position: absolute;
    top: -5px;
    right: 95px;
    color: grey;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
    user-select: none;
}

.popup {
    position: absolute;
    top: 120px;
    z-index: 999;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: #FFFFFF;
    font-size: 16px;
    transform: rotate(-5deg);
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sample {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 100px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #c6e2ff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.info.showed {
    opacity: 1;
    pointer-events: auto;
}

.info:hover + .popup {
    top: 35px;
    opacity: 1;
    transform: rotate(0deg);
}

/* Term Colors */
.sample_label { color: #dbafff; }
.braces { color: #ffff00; }
.extension { color: #eb934b; }
.file_name { color: #ffffd8; }
.required { color: #ff9999; }


/* Button styles */

.button {
    cursor: pointer;
    color: white;
    user-select: none;
    font-size: 15px;
    background-image: radial-gradient(circle at top left, purple 10%, violet 90%);
    background-size: 200% 200%;
    background-position: left bottom;
    transition: background 0.5s ease;
}
.button_save {
    border-radius: 15px;
    margin: 5px 0 0 5px;
    width: 120px;
    height: 35px;
    font-weight: 650;
}
.button_zrok {
    border-radius: 10px;
    font-size: 12px;
    height: 30px;
    padding: 1px 12px;
    white-space: nowrap;
}

.button:hover {
    background-position: right bottom;
}
.button_save:hover {
    background-image: radial-gradient(circle at top left, purple 10%, #93AC47 90%);
}
.button_zrok:hover {
    background-image: radial-gradient(circle at top left, purple 10%, #1D94BB 90%);
}

.button:active {
    filter: brightness(0.75) !important;
}

/* Removes ugly stroke from widget buttons. */
.jupyter-widgets.lm-Widget:focus {
    outline: none;
}


/* Animation of elements */

.container,
.button_save {
    animation: showedWidgets 1s forwards ease-in-out;
}

.container.hide,
.button_save.hide {
    animation: hideWidgets 0.5s forwards ease-in-out;
}

@keyframes showedWidgets {
    0% {
        transform: translate3d(-65%, 15%, 0) scale(0) rotate(15deg);
        filter: blur(25px) grayscale(1) brightness(0.3);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
        filter: blur(0) grayscale(0) brightness(1);
        opacity: 1;
    }
}

@keyframes hideWidgets {
    0% {
        transform: translate3d(0, 0, 0) scale(1) rotate3d(1, 0, 0, 0deg);
        filter: blur(0) grayscale(0) brightness(1);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 5%, 0) scale(0.9) rotate3d(1, 0, 0, 90deg);
        filter: blur(15px) grayscale(1) brightness(0.5);
        opacity: 0;
    }
}